body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: white;
  text-align: center;
  flex-direction: column;
  overflow: hidden; /* Garante que os corações não causem barras de rolagem */
}

h1,
h2 {
  margin: 10px 0;
}

.countdown-image {
  max-width: 50%;
  height: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.countdown-container {
  display: flex;
  flex-direction: row;
  background-color: #3a3f47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px; /* Ajuste a largura máxima do contêiner */
  justify-content: space-around;
  margin: 0 auto;
}

.countdown-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.text {
  font-size: 48px;
  margin: 0;
  background-color: #444b55;
  padding: 20px;
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
}

span {
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.hearts-container {
  position: fixed; /* Mantém o contêiner fixo na tela */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Não intercepta eventos de clique e rolagem */
  overflow: hidden; /* Garante que os corações que saem da tela não apareçam */
  z-index: 1; /* Fica atrás dos outros conteúdos */
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  transform: rotate(-45deg);
  opacity: 0;
  animation: float 5s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -15px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 15px;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(-45deg);
    opacity: 0;
  }
}
